.menu
  ul.list
    li.header Navegacion Principal
    li.active
      router-link(to="/")
        i.material-icons home
        span Home
    li
      a.menu-toggle(href="javascript:void(0);")
        i.material-icons people
        span Usuarios
      ul.ml-menu
        li
          router-link(to="/users") Lista de usuarios
        li
          router-link(to="/groups") Grupos
        li
          router-link(to="/permissions") Permisos
        li
          router-link(to="/renovations") Renovaciones
    li
      a.menu-toggle(href="javascript:void(0);")
        i.material-icons trending_up
        span Transacciones
      ul.ml-menu
        li
          router-link(to="/pips") Pips
        li
          router-link(to="/retreats") Retiros
        li
          router-link(to="/deposits") Depositos
    li
      a.menu-toggle(href="javascript:void(0);")
        i.material-icons work
        span Reportes
      ul.ml-menu
        li
          a(href="") Reporte 1
        li
          a(href="#") Reporte 2
        li
          a(href="") Reporte 3
    li
      a.menu-toggle(href="javascript:void(0);")
        i.material-icons settings
        span Configuracion de sistema
      ul.ml-menu
        li
          router-link(to="/risks") Porcentaje de Riesgo
          
    
