<template lang='pug' src='./template.pug'>
</template>

<script>
import http from 'axios'
export default {
  name: 'users',
  data: () => ({
    columns: [
      {
        label: 'Name',
        field: 'name'
      },
      {
        label: 'E-Mail',
        field: 'email',
        type: 'email'
      },
      {
        label: 'Referido Por',
        field: 'userref'
      },
      {
        label: 'Estado Usuario',
        field: 'statususer'
      },
      {
        label: 'Puntos Forex',
        field: 'fxpoint'
      },
      {
        label: 'Fecha de registro',
        field: 'createdAt',
        type: 'date',
        inputFormat: 'YYYYMMDD',
        outputFormat: 'MMM Do YY'
      },
      {
        label: 'Perfil'
      }
    ],
    users: []
  }),
  methods: {
    getUsers () {
      return http(
        {
          method: 'GET',
          url: `${process.env.API}api/v1/users.json`,
          headers: {
            'content-type': 'application/json; charset=utf-8'
          }
        }
      )
        .then(response => response.data)
        .then(response => response.data)
        .then(users => {
          this.users = users
        })
        .catch(error => { console.log(error) })
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style>
</style>
