section.content
  .container-fluid
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            h2 Lista de Usuarios
            ul.header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    router-link(to='/users/new') Nuevo Usuarios
          .body
            .table-responsive
              vue-good-table(:columns="columns", :rows="users", :paginate="true", :lineNumbers="true", :globalSearch="true", styleClass="table table-bordered table-striped condensed")
                template(slot="table-row", slot-scope="props")
                  td.fancy {{props.row.firstname}}
                  td.fancy {{props.row.email}}
                  td.fancy {{props.row.referred_by}}
                  td.fancy {{props.row.status}}
                  td.fancy {{props.row.fxpoints}}
                  td {{ props.formattedRow.fxpoints }}
                  td
                    router-link(:to="{ name: 'profile', params:{ id:1}}")
                      .icon
                        i.material-icons people
