nav(class="navbar")
  .container-fluid
    .navbar-header
      a(href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
      a(href="javascript:void(0);" class="bars")
      a(href="" class="navbar-brand") Consultor Forex
    .collapse.navbar-collapse#navbar-collapse
      ul(class="nav navbar-nav navbar-right")
        //- Call Search
        li
          a(href="javascript:void(0);" class="js-search" data-close="true")
            i.material-icons search
        //- #END# Call Search
        //- Notifications
        li.dropdown
          a(href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button")
            i.material-icons notifications
            span.label-count 7
          ul.dropdown-menu
            li.header NOTIFICACIONES
            li.body
              ul.menu
                li
                  a(href="javascript:void(0);")
                    .icon-circle.bg-light-green
                      i.material-icons person_add
                    .menu-info
                      h4  12 new members joined
                      p 
                        i.material-icons access_time
                        | Hace 14 minutos
                li
                  a(href="javascript:void(0);")
                    .icon-circle.bg-cyan
                      i.material-icons add_shopping_cart
                    .menu-info
                      h4  4 ventas hechas
                      p 
                        i.material-icons access_time
                        | Hace 22 minutos
            li.footer
              a(href="javascript:void(0);") Ver todas las notificaciones
        //- #END# Notifications
        //- Tasks
        li.dropdown
          a(href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button")
            i.material-icons flag
            span.label-count 9
          ul.dropdown-menu
            li.header Tareas
            li.body
              ul.menu.tasks
                li
                  a(href="javascript:void(0);")
                    h4
                      | Footer display issue
                      small 32%
                    .progress
                      .progress-bar.bg-pink(role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%")
            li.footer
              a(href="javascript:void(0);") Ver todas las Tareas
        //- #END# Tasks
        li.pull-right
          a(href="javascript:void(0);" class="js-right-sidebar" data-close="true")
            i.material-icons more_vert
