<template lang='pug' src='./template.pug'>
</template>

<script>
export default {
  name: 'userNew',
  data: () => ({
  })
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
