<template lang='pug' src='./template.pug'>
</template>

<script>
import http from 'axios'
export default {
  name: 'groupNew',
  data: () => ({
    name: ''
  }),
  methods: {
    newGroup () {
      return http(
        {
          method: 'POST',
          url: `${process.env.API}api/v1/roles.json`,
          headers: {
            'content-type': 'application/json; charset=utf-8'
          },
          data: {
            role: {
              'name': this.name
            }
          }
        }
      )
        .then(response => {
          console.log(response.data)
          this.$router.push('/groups')
        })
        .catch(error => {
          if (error.response) {
            console.log(error.response)
          }
        })
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
