<template lang='pug' src='./template.pug'>
</template>

<script>
export default {
  name: 'renovations',
  data: () => ({
    columns: [
      {
        label: 'E-Mail',
        field: 'email'
      },
      {
        label: 'Nombre',
        field: 'name'
      },
      {
        label: 'Monto',
        field: 'amount'
      },
      {
        label: 'Tipo',
        field: 'type'
      },
      {
        label: 'Acciones',
        field: 'actions'
      },
      {
        label: 'Fecha',
        field: 'created_at'
      }
    ],
    rows: [
      {email: 'alfa0015@local.local', name: 'John', amount: '1000.00', type: 'Completa', created_at: '2018-01-01'},
      {email: 'alfa0015@local.local', name: 'John', amount: '1000.00', type: 'Completa', created_at: '2018-01-01'},
      {email: 'alfa0015@local.local', name: 'John', amount: '1000.00', type: 'Completa', created_at: '2018-01-01'},
      {email: 'alfa0015@local.local', name: 'John', amount: '1000.00', type: 'Completa', created_at: '2018-01-01'},
      {email: 'alfa0015@local.local', name: 'John', amount: '1000.00', type: 'Completa', created_at: '2018-01-01'},
      {email: 'alfa0015@local.local', name: 'John', amount: '1000.00', type: 'Completa', created_at: '2018-01-01'},
      {email: 'alfa0015@local.local', name: 'John', amount: '1000.00', type: 'Completa', created_at: '2018-01-01'}
    ]
  })
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
