section.content
  .container-fluid
    .block-header
      ol.breadcrumb.breadcrumb-bg-teal
        li
          a(href="")
            i.material-icons home
        li
          a(href="")
            i.material-icons autorenew
    
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            h2 Administradores
            ul.header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") another action
          .body
            .table-responsive
              vue-good-table(:columns="columns", :rows="rows", :paginate="true", :lineNumbers="true", :globalSearch="true", styleClass="table table-bordered table-striped condensed")
                template(slot="table-row", slot-scope="props")
                  td.fancy {{props.row.email}}
                  td.fancy {{props.row.name}}
                  td.fancy {{props.row.amount}}
                  td.fancy {{props.row.type}}
                  td.fancy {{props.row.created_at}}
                  td
                    router-link.btn.btn-success(:to="{ name: 'profile', params:{ id:1}}")
                      .icon
                        i.material-icons check
                    router-link.btn.btn-danger(:to="{ name: 'profile', params:{ id:1}}")
                      .icon
                        i.material-icons block
                    router-link.btn.btn-warning(:to="{ name: 'profile', params:{ id:1}}")
                      .icon
                        i.material-icons mode_edit
