<template lang='pug' src='./template.pug'>
</template>

<script>
import LineChart from '@/components/linechart'
export default {
  name: 'account',
  data: () => ({
    columns: [
      {
        label: 'Monto',
        field: 'monto'
      },
      {
        label: 'Tipo',
        field: 'tipo'
      },
      {
        label: 'Fecha',
        field: 'fecha'
      },
      {
        label: 'Balance',
        field: 'balance'
      },
      {
        label: 'Editar',
        field: 'edit'
      }
    ],
    rows: [
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'},
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'},
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'},
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'},
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'},
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'},
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'},
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'},
      {monto: '$0.00', tipo: 'Saldo Inicia', fecha: '2017-11-27', balance: '$1,000.00'}
    ],
    LineChart: {
      labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre'],
      datasets: [{
        data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
        label: 'Historico de inversion',
        borderColor: '#3e95cd',
        fill: false
      }]
    },
    LineOptions: {
      title: {
        display: false
      },
      responsive: true,
      maintainAspectRatio: false
    }
  }),
  components: {
    LineChart
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style>
</style>
