section.content
  .container-fluid
    .block-header
      ol.breadcrumb.breadcrumb-bg-teal
        li
          a(href="")
            i.material-icons home
        li
          a(href="")
            i.material-icons people
        li
          a(href="")
            i.material-icons perm_identity
            
      h2 Cuenta SV03-01
    .row.clearfix
      
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-green.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons attach_money
          .content
            .text Saldo Inicial
            .number.count-to 125.00
            
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-light-green.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons attach_money
          .content
            .text Maximo a retirar
            .number.count-to 125
            
            
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-lime.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons attach_money
          .content
            .text Rendimiento Total
            .number.count-to 125
            
            
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-pink.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons attach_money
          .content
            .text Balance Actual
            .number.count-to 125
            
            
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-blue.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons schedule
          .content
            .text Rendimiento Historico
            .number.count-to 125
            
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-light-blue.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons schedule
          .content
            .text Rendimiento Actual
            .number.count-to 125
            
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-cyan.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons exit_to_app
          .content
            .text Estado de cuenta
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            .row.clearfix
              .col-xs-12.col-sm-6
                h2 Acciones Administrativas
          .body
            .icon-and-text-button-demo.row.clearfix
              .col-xs-12.col-sm-12.col-md-4.col-lg-4
                button.btn.btn-success.waves-effect(type="button", style="width:100%;")
                  i.material-icons add
                  span Agregar Deposito
              .col-xs-12.col-sm-12.col-md-4.col-lg-4
                button.btn.bg-amber.waves-effect(type="button", style="width:100%;")
                  i.material-icons indeterminate_check_box
                  span Agregar Retiro
              .col-xs-12.col-sm-12.col-md-4.col-lg-4
                button.btn.bg-red.waves-effect(type="button", style="width:100%;")
                  i.material-icons cancel
                  span Cerrar cuenta              
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            .row.clearfix
              .col-xs-12.col-sm-6
                h2 Acciones Administrativas
          .body
            .icon-and-text-button-demo.row.clearfix
              .col-xs-12.col-sm-12.col-md-4.col-lg-4
                button.btn.bg-pink.waves-effect(type="button", style="width:100%;")
                  i.material-icons delete
                  span Borrar Ganancias
              .col-xs-12.col-sm-12.col-md-4.col-lg-4
                button.btn.bg-teal.waves-effect(type="button", style="width:100%;")
                  i.material-icons attach_money
                  span Generar Ganancias
              .col-xs-12.col-sm-12.col-md-4.col-lg-4
                button.btn.btn-primary.waves-effect(type="button", style="width:100%;")
                  i.material-icons insert_drive_file
                  span Archivos
                
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            .row.clearfix
              .col-xs-12.col-sm-6
                h2 Nuevas Inversiones
            .header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") Another action
          .body
            LineChart.dashboard-flot-chart(:data="LineChart", :options="LineOptions")
    .row.clearfix
      //- Task Info
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            h2 Informacion de Tareas
            ul.header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") another action
          .body
            .table-responsive
              vue-good-table(:columns="columns", :rows="rows", :paginate="true", :lineNumbers="true", :globalSearch="true", styleClass="table table-hover dashboard-task-infos")
                template(slot="table-row", slot-scope="props")
                  td.fancy {{props.row.monto}}
                  td.fancy {{props.row.tipo}}
                  td.fancy {{props.row.fecha}}
                  td.fancy {{props.row.balance}}
                  td
                    .icon
                      i.material-icons mode_edit
                      i.material-icons delete
