<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
import Topbar from './topbar/index'
import Sidebar from './sidebar/index'
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js PWA'
    }
  },
  components: {
    Topbar,
    Sidebar
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
li{
  list-style:none;
}
</style>
