<template lang='pug' src='./template.pug'>
</template>

<script>
import ItemMenu from '@/components/menu'
export default {
  name: 'sidebar',
  components: {
    ItemMenu
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
