aside.sidebar(id="leftsidebar")
  //- User Info
  .user-info
    .image
      img(src="../../assets/user.png" width="48" height="48" alt="User")
    .info-container
      .name(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") John Doe
      .email john.doe@example.com
      .btn-group.user-helper-dropdown
          i.material-icons(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") keyboard_arrow_down
          ul.dropdown-menu.pull-right
            li
              a(href="javascript:void(0);")
                i.material-icons person
                | Perfil
            li(role="seperator" class="divider")
            li
              a(href="javascript:void(0);")
                i.material-icons group
                | Seguidores
            li
              a(href="javascript:void(0);")
                i.material-icons input
                | Desconectar
  //- #User Info
  //-- Menu
  ItemMenu
  //-- END Menu
  //- Footer
  .legal
    .copyright
      | &copy; 2016 - 2017
      a(href="javascript:void(0);")
        | AdminBSB - Material Design
    .version
      b Version:
      |  1.0.5
