<template lang='pug' src='./template.pug'>
</template>

<script>
export default {
  name: 'retreats',
  data: () => ({
    columns: [
      {
        label: 'Cuenta',
        field: 'code_account'
      },
      {
        label: 'Nombre',
        field: 'name'
      },
      {
        label: 'E-Mail',
        field: 'email'
      },
      {
        label: 'Telefono Celular',
        field: 'mobilephone'
      },
      {
        label: 'Monto',
        field: 'amount'
      },
      {
        label: 'Fecha de Transaccion',
        field: 'date_transaction'
      },
      {
        label: 'Nombre de banco',
        field: 'bank_name'
      },
      {
        label: 'Numero de cuenta',
        field: 'bank_account'
      },
      {
        label: 'Acciones',
        field: 'actions'
      }
    ],
    rows: [
      {code_account: 'SV03-01', name: 'John', email: 'root@localhost.local', date_transaction: '2018-01-01', amount: '1000.00', bank_name: 'Banco Agricola', bank_account: '0000000'},
      {code_account: 'SV03-01', name: 'John', email: 'root@localhost.local', date_transaction: '2018-01-01', amount: '1000.00', bank_name: 'Banco Agricola', bank_account: '0000000'},
      {code_account: 'SV03-01', name: 'John', email: 'root@localhost.local', date_transaction: '2018-01-01', amount: '1000.00', bank_name: 'Banco Agricola', bank_account: '0000000'},
      {code_account: 'SV03-01', name: 'John', email: 'root@localhost.local', date_transaction: '2018-01-01', amount: '1000.00', bank_name: 'Banco Agricola', bank_account: '0000000'},
      {code_account: 'SV03-01', name: 'John', email: 'root@localhost.local', date_transaction: '2018-01-01', amount: '1000.00', bank_name: 'Banco Agricola', bank_account: '0000000'},
      {code_account: 'SV03-01', name: 'John', email: 'root@localhost.local', date_transaction: '2018-01-01', amount: '1000.00', bank_name: 'Banco Agricola', bank_account: '0000000'},
      {code_account: 'SV03-01', name: 'John', email: 'root@localhost.local', date_transaction: '2018-01-01', amount: '1000.00', bank_name: 'Banco Agricola', bank_account: '0000000'}
    ]
  })
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
