<template lang='pug' src='./template.pug'>
</template>

<script>
export default {
  name: 'pips',
  data: () => ({
    columns: [
      {
        label: 'Fecha',
        field: 'date'
      },
      {
        label: 'PIP',
        field: 'pip'
      },
      {
        label: 'Status',
        field: 'status'
      },
      {
        label: 'Acciones',
        field: 'actions'
      }
    ],
    rows: [
      {fecha: '2018-01-01', pip: '34', status: 'completed'},
      {fecha: '2018-01-01', pip: '34', status: 'completed'},
      {fecha: '2018-01-01', pip: '34', status: 'completed'},
      {fecha: '2018-01-01', pip: '34', status: 'completed'},
      {fecha: '2018-01-01', pip: '34', status: 'completed'},
      {fecha: '2018-01-01', pip: '34', status: 'completed'},
      {fecha: '2018-01-01', pip: '34', status: 'completed'}
    ]
  })
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
