<template lang='pug' src='./template.pug'>
</template>

<script>
  import LineChart from '@/components/linechart'
  import DoughnutChart from '@/components/doughnutchart'
  import RadarChart from '@/components/radarchart'
  import PieChart from '@/components/piechart'
  import http from 'axios'
  export default {
    name: 'dashboardhome',
    data: () => ({
      LineChart: {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre'],
        datasets: [{
          data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
          label: 'Inversiones Nuevas',
          borderColor: '#3e95cd',
          fill: false
        }]
      },
      LineOptions: {
        title: {
          display: true
        },
        responsive: true,
        maintainAspectRatio: false
      },
      InvChart: {
        labels: ['Wells Fargo', 'Agricola', 'Cuscatlan'],
        datasets: [{
          backgroundColor: ['#f57c00', '#01579b', '#ffeb3b'],
          data: [64450.00, 258200.00, 26500.00]
        }]
      },
      InvOptions: {
        title: {
          display: true,
          text: 'Inversiones en Bancos'
        },
        responsive: true,
        maintainAspectRatio: false
      },
      TransChart: {
        labels: ['Nuevas Cuentas', 'Aumentos de Capital', 'Renovaciones', 'Retiros'],
        datasets: [
          {
            label: 'Diciembre',
            fill: true,
            backgroundColor: 'rgba(255,99,132,0.2)',
            borderColor: 'rgba(255,99,132,1)',
            pointBorderColor: '#fff',
            pointBackgroundColor: 'rgba(255,99,132,1)',
            data: [349150.00, 20835.00, 205846.95, 6626.82]
          }
        ]
      },
      TransOptions: {
        responsive: true,
        maintainAspectRatio: false
      },
      DistChart: {
        labels: ['Nacionales', 'Internacionales'],
        datasets: [{
          label: 'Distribucion Nacional',
          backgroundColor: ['#01579b', '#66bb6a'],
          data: [5267, 734]
        }]
      },
      DistOptions: {
        title: {
          display: true
        },
        responsive: true,
        maintainAspectRatio: false
      }
    }),
    components: {
      LineChart,
      DoughnutChart,
      RadarChart,
      PieChart
    },
    methods: {
      getTask () {
        return http(
          {
            method: 'GET',
            url: 'https://app.asana.com/api/1.0/tasks',
            headers: {
              'content-type': 'application/json; charset=utf-8',
              Authorization: 'Bearer 0/091c36b6efd517542894bedbce5ad5d7'
            },
            params: {
              project: '336571214714731',
              opt_fields: 'name,assignee,assignee_status,created_at',
              limit: '20'
            }
          }
        )
          .then(response => response.data)
          .then(response => {
            console.log(response)
          })
          .catch(error => { console.log(error) })
      },
      createTask () {
        return http(
          {
            method: 'POST',
            url: 'https://app.asana.com/api/1.0/tasks',
            headers: {
              'content-type': 'application/json; charset=utf-8',
              Authorization: 'Bearer 0/75f27aeffeef4b62b03b984f6ac1d095'
            },
            data: {
              data: {
                projects: '336571214714731',
                name: 'Task from API',
                assignee: '335529502158435',
                due_on: '2018-01-20',
                notes: `
                Nombre de cliente Cesar Adalberto Ingles Cienfuegos
                Cuenta FX SV03-508
                Correo-cesar.ingles@gmail.com
                Monto Autorizado-$5,350.00
                Deposito: $4,991.55
                Banco Banco Agricola
                Nombre de cuenta bancaria-Cesar Adalberto Ingles Cienfuegos
                Número de cuenta 3490311023
                Direccion de beneficiario: Calle La Ronda #24A, Cuscatancingo
                Banco: Banco Agricola
                Direccion de banco: Boulevard Constitución y 1a Calle Poniente, San Salvador, El Salvador, Centro América.
                Codigo SWIFT CAGRSVSS
                Fecha de solicitud 23/12/2017
                Fecha de Depósito 22/1/2018
                `,
                'custom_fields': {
                  '369342181368743': '100.00',
                  '336804585484296': '336804585484297',
                  '341201567542823': '341201567542824',
                  '369342181368745': '100.00'
                }
              }
            }
          }
        )
          .then(response => response.data)
          .then(response => {
            console.log(response)
          })
          .catch(error => { console.log(error) })
      },
      createContact () {
        return http(
          {
            method: 'POST',
            url: `${process.env.API}api/v1/hcontact.json`,
            headers: {
              'content-type': 'application/json; charset=utf-8'
            },
            data: {
              contact: {
              }
            }
          }
        )
          .then(response => response.data)
          .then(response => {
            console.log(response)
          })
          .catch(error => { console.log(error) })
      }
    },
    mounted () {
      this.getTask()
      this.createContact()
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
