section.content
  .container-fluid
    .block-header
      h2 DASHBOARD
    //- Widgets
    .row.clearfix
      
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-cyan.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons people
          .content
            .text # Usuarios
            .number.count-to 125
      
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-light-green.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons person_add
          .content
            .text # Usuarios Nuevos en el mes
            .number.count-to 125
            
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-teal.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons info_outline
          .content
            .text # Usuarios por aprobar
            .number.count-to 125
          
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-pink.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons playlist_add_check
          .content
            .text # Tareas por terminar
            .number.count-to(data-from="0" data-to="125" data-speed="15" data-fresh-interval="20") 25
      
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-purple.hover-expand-effect
          .icon
            i.material-icons attach_money
          .content
            .text Nuevas Inversiones
            .number.count-to(data-from="0" data-to="125" data-speed="15" data-fresh-interval="20") 125
      
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-indigo.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons attach_money
          .content
            .text Aumentos a capital
            .number.count-to(data-from="0" data-to="125" data-speed="15" data-fresh-interval="20") 125
            
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .info-box.bg-lime.hover-expand-effect
          .icon
            a(href="", target="_blank")
              i.material-icons attach_money
          .content
            .text Retiros
            .number.count-to(data-from="0" data-to="125" data-speed="15" data-fresh-interval="20") 125
    //- #END# Widgets
    //- CPU Usage
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            .row.clearfix
              .col-xs-12.col-sm-6
                h2 Nuevas Inversiones
            .header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") Another action
          .body
            LineChart.dashboard-flot-chart(:data="LineChart" :options="LineOptions")
    //- #END# CPU Usage
    .row.clearfix
    
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        .card
          .header
            h2 Nuevas cuentas
            ul.header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") Another action
          .body
            DoughnutChart.dashboard-donut-chart(:data="InvChart" :options="InvOptions")
            
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        .card
          .header
            h2 Monto de transacciones
            ul.header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") Another action
          .body
            //- #donut_chart.dashboard-donut-chart
            RadarChart.dashboard-donut-chart(:data="TransChart" :options="TransOptions")
            
            
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        .card
          .header
            h2 Monto de transacciones
            ul.header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") Another action
          .body
            //- #donut_chart.dashboard-donut-chart
            PieChart.dashboard-donut-chart(:data="DistChart" :options="DistOptions")
      
      
    .row.clearfix
      //- Task Info
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            h2 Informacion de Tareas
            ul.header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") another action
          .body
            .table-responsive
              table.table.table-hover.dashboard-task-infos
                thead
                  tr 
                    th #
                    th Task
                    th Status
                    th Progress
                tbody
                  tr
                    td 1
                    td Task A
                    td
                      span.label.bg-green Doing
                    td
                      .progress
                        .progress-bar.bg-green(role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%")
                  tr
                    td 1
                    td Task A
                    td
                      span.label.bg-green Doing
                    td
                      .progress
                        .progress-bar.bg-green(role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%")
                  tr
                    td 1
                    td Task A
                    td
                      span.label.bg-green Doing
                    td
                      .progress
                        .progress-bar.bg-green(role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%")
                  tr
                    td 1
                    td Task A
                    td
                      span.label.bg-green Doing
                    td
                      .progress
                        .progress-bar.bg-green(role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%")
                  tr
                    td 1
                    td Task A
                    td
                      span.label.bg-green Doing
                    td
                      .progress
                        .progress-bar.bg-green(role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%")
                          
      //- #END# Task Info
