<template lang='pug' src='./template.pug'>
</template>

<script>
export default {
  name: 'risks',
  data: () => ({
    columns: [
      {
        label: 'Porcentaje',
        field: 'porcentaje'
      },
      {
        label: 'Fecha de creacion',
        field: 'created_at'
      },
      {
        label: 'Fecha de Actualizacion',
        field: 'updated_at'
      },
      {
        label: 'Acciones',
        field: 'actions'
      }
    ],
    rows: [
      {porcentaje: '0.00065', created_at: '2018-01-01', updated_at: '2018-01-01'},
      {porcentaje: '0.00065', created_at: '2018-01-01', updated_at: '2018-01-01'}
    ]
  })
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
