<template lang='pug' src='./template.pug'>
</template>

<script>
import http from 'axios'
export default {
  name: 'groupEdit',
  data: () => ({
    role: {}
  }),
  methods: {
    updateRole (id) {
      return http(
        {
          method: 'PATCH',
          url: `${process.env.API}api/v1/roles/${id}.json`,
          headers: {
            'content-type': 'application/json; charset=utf-8'
          },
          data: {
            role: {
              'name': this.role.name
            }
          }
        }
      )
        .then(response => response.data)
        .then(role => {
          console.log(role)
          this.$router.push('/groups')
        })
        .catch(error => { console.log(error) })
    },
    getRole (id) {
      return http(
        {
          method: 'GET',
          url: `${process.env.API}api/v1/roles/${id}.json`,
          headers: {
            'content-type': 'application/json; charset=utf-8'
          }
        }
      )
        .then(response => response.data)
        .then(response => response.data)
        .then(role => {
          this.role = role
        })
        .catch(error => { console.log(error) })
    }
  },
  mounted () {
    this.getRole(this.$route.params.id)
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
