section.content
  .container-fluid
    .block-header
      ol.breadcrumb.breadcrumb-bg-teal
        li
          router-link(to='/')
            i.material-icons home
        li
          router-link(to='/groups')
            i.material-icons group_work
        li
          i.material-icons edit_mode

    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            h2 Editar Grupo
          .body
            .row.clearfix
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .input-group
                  span.input-group-addon
                    i.material-icons person
                  .form-line
                    input.form-control.date(type="text", v-model='role.name' placeholder="Nombre del grupo")
          .footer
            .p-l-35.p-b-15
              button.btn.btn-success(@click.prevent="updateRole(role.id)")
                i.material-icons send
                span Guardar
