section.content
  .container-fluid
    .block-header
      ol.breadcrumb.breadcrumb-bg-teal
        li
          a(href="")
            i.material-icons home
        li
          a(href="")
            i.material-icons accessible
    
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            .row.clearfix
              .col-xs-12.col-sm-6
                h2 Administradores
            .header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") Another action
          .body
            h4 Modulo de usuarios
            .table-responsive
              table.table.table-hover.dashboard-task-infos
                thead
                  tr 
                    th Crear
                    th Leer
                    th Actualizar
                    th Eliminar
                tbody
                  tr
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
            h4 Modulo de permisos
            .table-responsive
              table.table.table-hover.dashboard-task-infos
                thead
                  tr 
                    th Crear
                    th Leer
                    th Actualizar
                    th Eliminar
                tbody
                  tr
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
            h4 Modulo de transacciones
            .table-responsive
              table.table.table-hover.dashboard-task-infos
                thead
                  tr 
                    th Crear
                    th Leer
                    th Actualizar
                    th Eliminar
                tbody
                  tr
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            .row.clearfix
              .col-xs-12.col-sm-6
                h2 Moderadores
            .header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    a(href="javascript:void(0);") Action
                  li
                    a(href="javascript:void(0);") Another action
          .body
            h4 Modulo de Usuarios
            .table-responsive
              table.table.table-hover.dashboard-task-infos
                thead
                  tr 
                    th Crearr
                    th Leer
                    th Actualizar
                    th Eliminar
                tbody
                  tr
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
                    td
                      .switch
                        label
                          | OFF
                          input(type="checkbox" checked)
                          span.lever
                          | ON
