<template lang='pug' src='./template.pug'>
</template>

<script>
  import http from 'axios'
  export default {
    name: 'login',
    data: () => ({
      email: '',
      password: ''
    }),
    components: {
    },
    methods: {
      login () {
        return http(
          {
            method: 'POST',
            url: 'http://localhost:3000/auth/sign_in',
            headers: {
              'content-type': 'application/json; charset=utf-8'
            },
            data: {
              email: this.email,
              password: this.password
            }
          }
        )
          .then(response => response)
          .then(response => {
            this.token(response.headers)
          })
          .catch(error => { console.log(error) })
      },

      auth () {
        if (localStorage.getItem('access-token') == null || localStorage.getItem('client') == null || localStorage.getItem('expiry') == null || localStorage.getItem('uid') == null) {
          return false
        }
      },
      token (headers) {
        if (localStorage.getItem('access-token') == null || localStorage.getItem('client') == null || localStorage.getItem('expiry') == null || localStorage.getItem('uid') == null) {
          localStorage.setItem('access-token', headers['access-token'])
          localStorage.setItem('client', headers.client)
          localStorage.setItem('expiry', headers.expiry)
          localStorage.setItem('uid', headers.uid)
        } else {
          if (localStorage.getItem('access-token') !== headers['access-token']) {
            localStorage.setItem('access-token', headers['access-token'])
          }
          if (localStorage.getItem('client') !== headers.client) {
            localStorage.setItem('client', headers.client)
          }
          if (localStorage.getItem('expiry') !== headers.expiry) {
            localStorage.setItem('expiry', headers.expiry)
          }
          if (localStorage.getItem('uid') !== headers.uid) {
            localStorage.setItem('uid', headers.uid)
          }
        }
      }
    },
    mounted () {
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .body-login {
    background-color: #00BCD4;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: block;
    position: absolute;
  }
  .form-card{
    padding-left: 0;
    padding-top: 10%;
    overflow-x: hidden;
  }
  .login-box .logo {
    margin-bottom: 20px;
  }

  .login-box .logo a {
    font-size: 36px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .login-box .logo small {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: -5px;
  }

  .login-box .msg {
    color: #555;
    margin-bottom: 30px;
    text-align: center;
  }

  .login-box a {
    font-size: 14px;
    text-decoration: none;
    color: #00BCD4;
  }
</style>
