.body-login 
  .form-card.row
    .login-box.col-xs-12.col-md-4.col-md-offset-4.col-lg-3.col-lg-offset-4
      .logo
        a(href="javascript:void(0);")
          b Consultor Forex
        small Un servicio de sigcapitales
      .card
        .body
          form(id="", method="", action="")
            .msg Sign in to start your session
            .input-group
              span.input-group-addon
                i.material-icons person
              .form-line
                input.form-control(type="text", placeholder="E-Mail", v-model="email")
            .input-group
              span.input-group-addon
                i.material-icons lock
              .form-line
                input.form-control(type="password", placeholder="Password", v-model="password")
            .row
              .col-xs-8.p-t-5
                input.filled-in.chk-col-pink#rememberme(type="checkbox")
                label(for="rememberme") Remember Me
              .col-xs-4
                button.btn.btn-block.bg-pink.waves-effect(@click.prevent="login()") Enviar
            .row.m-t-15.m-b--20
              .col-xs-6
                a(href="") Registrarse
              .col-xs-6.align-right
                a(href="") Olvidor su password?
