<template>
  <div id="app">
    <!-- Page Loader -->
    <!-- <Loader/> -->
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div v-if="this.$route.path != '/login'">
      <div class="search-bar">
        <div class="search-icon">
          <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
          <i class="material-icons">close</i>
        </div>
      </div>
      <!-- #END# Search Bar -->
      <!-- Top Bar -->
      <Topbar id="Topbar"/>
      <!-- #Top Bar -->
      <section>
        <!-- Left Sidebar -->
        <Sidebar/>
      </section>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import Loader from '@/components/loader'
import Topbar from '@/components/topbar'
import Sidebar from '@/components/sidebar'
export default {
  name: 'app',
  components: {
    Loader,
    Topbar,
    Sidebar
  },
  mounted () {
    // console.log(this.$route.path)
  }
}
</script>

<style>
@import './assets/css/bootstrap/css/bootstrap.css';
@import './assets/css/node-waves/waves.css';
@import './assets/css/animate-css/animate.css';
@import './assets/css/morrisjs/morris.css';
@import './assets/css/style.css';
@import './assets/css/themes/all-themes.css';
</style>
