<template lang='pug' src='./template.pug'>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.css'
import http from 'axios'
export default {
  name: 'userprofile',
  data: () => ({
    dropzoneOptions: {
      url: 'https://httpbin.org/post',
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      headers: { 'My-Awesome-Header': 'header value' },
      dictDefaultMessage: '<div class="drag-icon-cph"><i class="material-icons">touch_app</i></div><h3>Suelta los archivos aquí o haz clic para cargarlos.</h3>'
    },
    profile: {}
  }),
  components: {
    vueDropzone: vue2Dropzone
  },
  methods: {
    getUser (id) {
      return http(
        {
          method: 'GET',
          url: `${process.env.API}api/v1/users/${id}.json`,
          headers: {
            'content-type': 'application/json; charset=utf-8'
          }
        }
      )
        .then(response => response.data)
        .then(response => response.data)
        .then(profile => {
          this.profile = profile
        })
        .catch(error => { console.log(error) })
    },
    updateUser (id) {
      return http(
        {
          method: 'PATCH',
          url: `${process.env.API}api/v1/users/${id}.json`,
          headers: {
            'content-type': 'application/json; charset=utf-8'
          },
          data: {
            user: {
              'aba': this.profile.aba,
              'address': this.profile.address,
              'address_bank': this.profile.address_bank,
              'bank_account': this.profile.bank_account,
              'bank_country': this.profile.bank_country,
              'bank_name': this.profile.bank_name,
              'beneficiary': this.profile.beneficiary,
              'beneficiary_mobilephone': this.profile.beneficiary_mobilephone,
              'beneficiary_relationship': this.profile.beneficiary_relationship,
              'beneficiary_telephone': this.profile.beneficiary_telephone,
              'birthday': this.profile.birthday,
              'country': this.profile.country,
              'created_at': this.profile.created_at,
              'doc1': this.profile.doc1,
              'doc2': this.profile.doc2,
              'doc_beneficiary': this.profile.doc_beneficiary,
              'email': this.profile.email,
              'fxpoints': this.profile.fxpoints,
              'iba': this.profile.iba,
              'mobilephone': this.profile.mobilephone,
              'nationality': this.profile.nationality,
              'number_road': this.profile.number_road,
              'occupation': this.profile.occupation,
              'swift': this.profile.swift,
              'telephone': this.profile.telephone,
              'telephone_bank': this.profile.telephone_bank,
              'firstname': this.profile.firstname,
              'lastname': this.profile.lastname
            }
          }
        }
      )
        .then(response => response.data)
        .then(response => response.data)
        .then(profile => {
          this.profile = profile
        })
        .catch(error => { console.log(error) })
    }
  },
  mounted () {
    this.getUser(this.$route.params.id)
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
</style>
