section.content
  .container-fluid
    .block-header
      h2 Perfil de Usuario
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-3.col-lg-3
        .card
          .card-block
            center.m-t-30
              img.img-circle(src="../../assets/user-avatar.jpg" width="150")
              h4.card-title.m-t-10 Nombre Apellido
              h6.card-subtitle Referido Por
              .row.text-center.justify-content-md-center
                .col-4
                  button.btn.btn-danger(type="button")
                    i.material-icons block
                    span Suspender Usuario
      .col-xs-12.col-sm-12.col-md-9.col-lg-9
        .card
          .body
            ul.nav.nav-tabs.tab-nav-right(role="tablist")
              li.active(role="presentation")
                a(href="#tab1" data-toggle="tab" aria-expanded="true") Informacion Personal
              li(role="presentation")
                a(href="#tab2" data-toggle="tab" aria-expanded="true") Informacion Bancaria
              li(role="presentation")
                a(href="#tab3" data-toggle="tab" aria-expanded="true") Archivos
            .tab-content
              .tab-pane.fade.active.in#tab1
                .row.clearfix
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons person
                      .form-line
                        input.form-control.date(type="text", placeholder="Email", v-model='profile.email')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons person
                      .form-line
                        input.form-control.date(type="text" placeholder="Nombre", v-model='profile.firstname')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons person
                      .form-line
                        input.form-control.date(type="text" placeholder="Apellido", v-model='profile.lastname')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons phone
                      .form-line
                        input.form-control.date(type="number" placeholder="Telefono Fijo", v-model='profile.telephone')
                  
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons phone
                      .form-line
                        input.form-control.date(type="number" placeholder="Telefono Celular", v-model='profile.mobilephone')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons business
                      .form-line
                        input.form-control.date(type="text" placeholder="Profecion u oficio", v-model='profile.occupation')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons add_location
                      .form-line
                        input.form-control.date(type="text" placeholder="Nacionalidad", v-model='profile.nationality')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons credit_card
                      .form-line
                        input.form-control.date(type="text" placeholder="Documento de Identidad 1", v-model='profile.doc1')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons credit_card
                      .form-line
                        input.form-control.date(type="text" placeholder="Documento de Identidad 2", v-model='profile.doc2')
                          
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons date_range
                      .form-line
                        input.form-control.date(type="date", v-model='profile.birthday')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons people
                      .form-line
                        input.form-control.date(type="text" placeholder="Beneficiario de la cuenta", v-model='profile.beneficiary')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons credit_card
                      .form-line
                        input.form-control.date(type="text" placeholder="Documento de Identidad Beneficiario", v-model='profile.doc_beneficiary')       
                  
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons people
                      .form-line
                        input.form-control.date(type="text" placeholder="Relacion con Beneficiario", v-model='profile.beneficiary_relationship')        
                          
                
              .tab-pane.fade#tab2
                .row.clearfix
                  
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons account_balance
                      .form-line
                        input.form-control.date(type="text" placeholder="Nombre del banco", v-model='profile.bank_name')
                                                      
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons account_balance
                      .form-line
                        input.form-control.date(type="text" placeholder="Numero de cuenta bancaria", v-model='profile.bank_account')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons account_balance
                      .form-line
                        input.form-control.date(type="text" placeholder="Codigo IBAN", v-model='profile.iba')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons account_balance
                      .form-line
                        input.form-control.date(type="text" placeholder="Codigo ABA", v-model='profile.aba')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons account_balance
                      .form-line
                        input.form-control.date(type="text" placeholder="Codigo SWIFT", v-model='profile.swift')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons add_location
                      .form-line
                        input.form-control.date(type="text" placeholder="Pais del banco", v-model='profile.bank_country')
                          
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons map
                      .form-line
                        input.form-control.date(type="text" placeholder="Numero de ruta", v-model='profile.number_road')
                  
                  .col-md-4
                    .input-group
                      span.input-group-addon
                        i.material-icons phone
                      .form-line
                        input.form-control.date(type="number" placeholder="Telefono del banco", v-model='profile.telephone_bank')
                  
              .tab-pane.fade#tab3
                .dz-message
                  vue-dropzone(ref="myVueDropzone" id="dropzone" :options="dropzoneOptions")
          .footer
            .p-l-35.p-b-15
              button.btn.btn-success(type="submit", @click.prevent="updateUser(profile.id)")
                i.material-icons send
                span Guardar
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .body
            .table-responsive
              table.table.table-hover.dashboard-task-infos
                thead
                  tr 
                    th Codigo de Cuenta
                    th Balance Actual
                    th Fecha de inicio en Forex
                    th Fin de contrato
                    th Banco
                    th Tipo
                    th Estado
                tbody
                  tr
                    td 
                      router-link(:to="{ name: 'account', params:{ id:1}}") SV03-01
                    td $1000.00
                    td 01-01-2018
                    td 01-01-2019
                    td Banco Agricola
                    td Nueva
                    td
                      span.label.bg-green Open
                  tr
                    td 
                      router-link(:to="{ name: 'account', params:{ id:1}}") SV03-01
                    td $1000.00
                    td 01-01-2018
                    td 01-01-2019
                    td Banco Agricola
                    td Bonus
                    td
                      span.label.bg-green Open
                  tr
                    td 
                      router-link(:to="{ name: 'account', params:{ id:1}}") SV03-01
                    td $1000.00
                    td 01-01-2018
                    td 01-01-2019
                    td Banco Agricola
                    td Renovada
                    td
                      span.label.bg-red Closed
                  tr
                    td 
                      router-link(:to="{ name: 'account', params:{ id:1}}") SV03-01
                    td $1000.00
                    td 01-01-2018
                    td 01-01-2019
                    td Banco Agricola
                    td Nueva
                    td
                      span.label.bg-green Open
                  tr
                    td 
                      router-link(:to="{ name: 'account', params:{ id:1}}") SV03-01
                    td $1000.00
                    td 01-01-2018
                    td 01-01-2019
                    td Banco Agricola
                    td Bonus
                    td
                      span.label.bg-green Open
