<template lang='pug' src='./template.pug'>
</template>

<script>
import { ModelSelect } from 'vue-search-select'
import {firstMixin} from '@/mixins/auth.js'
import http from 'axios'
export default {
  name: 'groups',
  data: () => ({
    columns: [
      {
        label: 'id',
        field: 'id'
      },
      {
        label: 'E-Mail',
        field: 'email'
      },
      {
        label: 'Fecha de Creacion',
        field: 'created_at'
      },
      {
        label: 'Acciones',
        field: 'actions'
      }
    ],
    options: [
      { value: '1', text: 'Administrador' },
      { value: '2', text: 'Moderador' },
      { value: '3', text: 'Cliente' }
    ],
    gr: {
      value: '',
      text: ''
    },
    source: 'http://localhost:3000/api/v1/roles',
    roles: [],
    rolename: ''
  }),
  components: {
    ModelSelect
  },
  methods: {
    getRoles () {
      return http(
        {
          method: 'GET',
          url: `${process.env.API}api/v1/roles.json`,
          headers: {
            'content-type': 'application/json; charset=utf-8',
            'access-token': localStorage.getItem('access-token'),
            'client': localStorage.getItem('client'),
            'expiry': localStorage.getItem('expiry'),
            'uid': localStorage.getItem('uid')
          }
        }
      )
        .then(response => {
          this.roles = response.data.data
          this.token(response.headers)
        })
        .catch(error => {
          console.log(error.response)
          if (error.response.status === 401) {
            this.$router.push('/login')
          }
        })
    },
    destroyRole (id, name) {
      return http(
        {
          method: 'DELETE',
          url: `${process.env.API}api/v1/roles/${id}.json`,
          headers: {
            'content-type': 'application/json; charset=utf-8'
          },
          params: {
            id: id
          }
        }
      )
        .then(response => response.data)
        .then(role => {
          console.log(role)
          document.querySelector(`#${name}`).style.display = 'none'
        })
        .catch(error => { console.log(error) })
    }
  },
  mounted () {
    if (this.auth() === false) {
      this.$router.push('/login')
    } else {
      this.getRoles()
    }
  },
  mixins: [firstMixin]
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
