section.content
  .container-fluid
    .block-header
      ol.breadcrumb.breadcrumb-bg-teal
        li
          a(href="")
            i.material-icons home
        li
          a(href="")
            i.material-icons group_work

    .row.clearfix(v-for='role in roles', :id="role.name")
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .header
            h2 {{role.name}}
            ul.header-dropdown.m-r--5
              li.dropdown
                a.dropdown-toggle(href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  i.material-icons more_vert
                ul.dropdown-menu.pull-right
                  li
                    router-link(:to="{name: 'newgroup'}") Nuevo grupo
                  li
                    router-link(:to="{ name: 'editgroup', params: { id: role.id } }") Editar grupo
                  li
                    a(@click="destroyRole(role.id, role.name)") Eliminar grupo
                  li
                    router-link(:to="{name: 'newgroup'}") Agregar Usuario
          .body
            .table-responsive
              vue-good-table(:columns="columns", :rows="role.users", :paginate="true", :lineNumbers="true", :globalSearch="true", styleClass="table table-bordered table-striped condensed")
                template(slot="table-row", slot-scope="props")
                  td.fancy {{props.row.id}}
                  td.fancy {{props.row.email}}
                  td.fancy {{props.row.created_at}}
                  td
                    button.btn.btn-circle.bg-green.waves-effect(type='button', data-toggle='modal', data-target='#edit')
                      .icon
                        i.material-icons mode_edit
      .modal.fade#edit(tabindex='-1', role='dialog')
        .modal-dialog.modal-lg(role='document')
          .modal-content
            .modal-header
              .modal-title#largeModalLabel Cambiar de grupo
            .modal-body
              .row.clearfix
                .col-md-12
                  model-select(:options="options", v-model="gr", placeholder='Seleccione grupo')
            .modal-footer
              button.btn.bg-green.waves-effect(type="button" )
                i.material-icons send
                span Guardar
              button.btn.btn-default.waves-effect(type="button", data-dismiss='modal')
                i.material-icons block
                span Cerrar
